#accordionPastoralContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 3rem;
}
.accordion-item {
  background-color: rgb(4, 78, 87);
  color: antiquewhite;
}
.intro-div {
  width: 80%;
}

.cardContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
}

.main-pastor {
  width: 50%;
}
.body-div {
  display: flex;
  align-items: center;
}

.imageContainer {
  width: 25%;
}
.each-pastorsImage {
  width: 20rem;
  margin: 2%;
  border-radius: 10%;
}

.main-pastor-image {
  border-radius: 50%;
  width: 35rem;
}
@media screen and (max-width: 768px) {
  .each-pastorsImage {
    margin: 1%;
    width: 15rem;
  }
  .main-pastor {
    margin-left: 0%;
    width: 80%;
  }
}

@media screen and (max-width: 425px) {
  .imageContainer,
  .body-div {
    width: 90%;
  }
}
