.form-div {
  margin-left: 1%;
  padding: 2%;
  width: 40%;
}
.name-div,
.email-div,
.message-div {
  margin: 1rem;
}

label {
  font-size: 1.5rem;
}
.text-area {
  width: 12rem;
}
.submit-button {
  padding: 1rem;
  margin-left: 3%;
}

@media screen and (max-width: 768px) {
  .form-div {
    width: 90%;
  }
}
