.footer-container {
  padding: 1.5rem;
  color: azure;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.linkContainer {
  margin-bottom: 1rem;
}
.eachLink {
  color: azure;
  text-decoration: none;
  padding: 0.5rem;
  font-size: larger;
  font-weight: bold;
}
.developerMessageDiv {
  text-decoration-line: overline;
  font-family: cursive;
  font-style: oblique;
  max-width: 10rem;
  padding: 0.2rem;
}
.addressLink {
  color: aquamarine;
}
