.first-navList,
.ministries-dropdown {
  color: rgb(11, 253, 208);
  font-family: "Delicious Handrawn";
  font-size: 1rem;
}

.formEl {
  width: 40%;
  margin-left: 40%;
}
.custom-search-bar {
  background-color: rgb(213, 238, 247) !important;
}
.image-logo {
  width: 5.5rem;
  /* margin-left: 35%; */
}
.name-logo {
  text-decoration: none;
}
.name-logo > h1 {
  color: azure;
  margin-left: 5%;
  font-family: "Delicious Handrawn", cursive;
  font-size: 3rem;
}
.logo-div {
  width: 60%;
}
.second-nav-div {
  background-color: rgb(57, 87, 110, 0.1);
}

ul > li > .nav-link {
  color: azure;
  font-weight: bolder;
  font-size: 2rem;
}

@media screen and (max-width: 768px) {
  .formEl {
    width: auto;
    margin-left: 1%;
    margin-bottom: 2%;
  }
}
@media screen and (min-width: 768px) {
  .image-logo {
    margin-left: 30%;
  }
  .logo-div {
    width: 50%;
  }
  ul > li > .nav-link {
    font-weight: normal;
  }
}
@media screen and (max-width: 425px) {
  .logo-div {
    width: 100%;
    margin-left: 5%;
  }
  .image-logo {
    margin-left: 35%;
  }
  .name-logo > h1 {
    font-size: 1.2rem;
    font-weight: bolder;
    margin-left: 15%;
  }
}

ul > li > .nav-link:hover {
  color: rgb(30, 46, 3);
  background-color: antiquewhite;
}
